<!DOCTYPE html>
<html>
<head>

    <meta charset="ISO-8859-1">
    <title>Registration Page</title>
    <h1 align="center">Registration Page</h1>
</head>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController2.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>
<body ng-app="demo">
<hr/>
<div class="container" ng-controller="UserController2">
    <div class="row" align="center">
        <label>First Name</label> <input type="text" ng-model="userDto.userFirstName" class="input-sm spacing"/><br/><br/>
        <label>Last Name</label> <input type="text" ng-model="userDto.userLastName" class="input-sm spacing"/><br/><br/>
        <label>Password</label> <input type="text" ng-model="userDto.userPassword" class="input-sm spacing"/><br/><br/>
        <label>Confirm Password</label> <input type="text" ng-model="userDto.userConfirmPassword" class="input-sm spacing"/><br/><br/>
        <label>Skills</label> <input type="text" ng-model="skills" ng-list class="input-sm custom-width spacing"
                                     placeholder="use comma to separate skills"/><br/><br/>
        <button ng-click="registerUser()" class="btn btn-sm btn-info">Register User</button><br/><br/>
        <button ng-click="fetchUser()" class="btn btn-sm btn-info" href="@{/user}">Get Users</button>
       {{users}}
       document.body.innerHTML = users;
        
        
    </div>
    <hr/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Users </span></div>
        
</body>


<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>